*{
    font-family: plus-jakarta-sans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.login-container {
    width: 314px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center; /* Center content inside container */
}

.login-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #232323;
    margin: 0;
    text-align: center; /* Center the text */
    width: 100%; /* Ensures full width for centering */
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.login-input {
    padding: 12px 16px;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
}

.login-input::placeholder {
    color: #9CA3AF;
}

.login-button {
    margin-top: 30px;
    background-color: #2B3A67;
    color: white;
    padding: 12px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
    transition: background-color 0.2s;
    width: 100%; /* Same width as the input */
}
